{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "10"
          }
        }
      ]
    ],
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",
        {
           "legacy": true
        }
      ],
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "tests": "./tests",
            "package": "./package.json"
          }
        }
      ],
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-optional-chaining"
    ],
    "ignore": [
      "node_modules"
    ]
  }
  